html {
  height: 100%;
  /* background-color: rgb(104, 104, 104); */
  /* background-image: linear-gradient(45deg, rgb(196, 171, 117), rgb(137, 105, 141)); */
  /* background-image: linear-gradient(45deg, rgb(146, 114, 119), rgb(118, 105, 141)); */
  /* background-image: linear-gradient(45deg, rgb(194, 180, 149), rgb(148, 121, 127)); */
  background-image: linear-gradient(45deg, rgb(117, 146, 146), rgb(96, 75, 100));
  /* background-image: linear-gradient(45deg, rgb(106, 138, 153), rgb(138, 194, 177)); */
}

#calculator-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#calculator-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 400px;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
  box-shadow: 0px 100px 100px rgba(0, 0 , 0, 10%);
}

#display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* height: 15%; */
  width: 89%;
  padding: 6px 6px 16px 6px;
  font-family: Arial, sans-serif;
  color: rgb(88, 88, 88);
  background-color: rgb(158, 158, 158);
  margin-top: 20px;
}

#display1 {
  line-height: 15px;
  height: 14px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .02ch;
  padding-right: 6px;
  color: rgb(107, 107, 107);
  /* background-color: lime; */
  /* max-width: 360px; */
  white-space: nowrap;
}

#display2 {
  line-height: 60px;
  max-height: 55px;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: .05ch;
  /* background-color: rgba(255, 192, 203, 0.26); */
  white-space: nowrap;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 78%;
  width: 92%;
}

#functions-container {
  width: 100%;
  height: 20%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* gap: 6px; */
  margin: 16px 0px 3px 0px;
}

button.function {
  text-align: center;
  flex: 0 1 49.5%;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(211, 205, 195);
  transition: background-color 0.7s;
}

button.function.backspace {
  font-size: min(8vw, 30px);
}

button.function:hover {
  background-color: rgb(224, 218, 207);
  transition: background-color 0.3s;
}

button.function:active {
  background-color: rgb(233, 227, 215);
  transition: background-color 0.1s;
}

button.function.highlight {
  background-color: rgb(233, 227, 215);
  transition: background-color 0.1s;
}

#operators-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 3px 0px;
}

button.operator {
  text-align: center;
  flex: 0 1 24.2%;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
}

button.operator:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.operator:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

button.operator.highlight {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

#numbers-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 1%;
  flex-wrap: wrap-reverse;
}

button.number {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 500;
  flex: 0 1 32.5%;
  /* width: 32%; */
  border: 1px solid rgb(155, 155, 155);
  color: rgb(71, 71, 71);
  background-color:rgb(214, 214, 214);
  transition: background-color 0.7s;
}

button.number:hover {
  background-color: rgb(230, 230, 230);
  transition: background-color 0.3s;
}

button.number:active {
  background-color: rgb(245, 245, 245);
  transition: background-color 0.1s;
}

button.number.highlight {
  background-color: rgb(245, 245, 245);
  transition: background-color 0.1s;
}

button {
  border-radius: 4px;
  padding: 0;
}

#decimal-container {
  display: flex;
  width: 32.5%;
  justify-content: space-between;
}

#decimal-container button.number {
  flex: 0 1 48%;
}

button.number.positive-negative {
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
  white-space: nowrap;
  font-size: min(8vw, 30px);
}

button.number.positive-negative:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.number.positive-negative:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

button.number.equals {
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
}

button.number.equals:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.number.equals:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

button.number.equals.highlight {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}