html {
  background-color: rgb(104, 104, 104);
}

#calculator-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(211, 211, 211); */
  margin-top: 50px;
}

#calculator-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 400px;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
  box-shadow: 0px 80px 80px rgba(0, 0 , 0, 15%);
}

#display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  /* height: 15%; */
  width: 90%;
  padding: 6px 6px 10px 6px;
  font-family: Arial, sans-serif;
  color: rgb(88, 88, 88);
  background-color: rgb(158, 158, 158);
  margin-top: 12px;
}

#display1 {
  line-height: 15px;
  height: 14px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .02ch;
  padding-right: 6px;
  color: rgb(107, 107, 107);
  /* background-color: lime; */
  max-width: 360px;
}

#display2 {
  line-height: 60px;
  max-height: 55px;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: .05ch;
  /* background-color: rgba(255, 192, 203, 0.26); */
}

#buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
}

#functions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: 16px 0px 5px 0px;
}

button.function {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(211, 205, 195);
  transition: background-color 0.7s;
}

button.function:hover {
  background-color: rgb(224, 218, 207);
  transition: background-color 0.3s;
}

button.function:active {
  background-color: rgb(233, 227, 215);
  transition: background-color 0.1s;
}

#numbers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  flex-wrap: wrap-reverse;
}

button.number {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 500;
  width: 32%;
  border: 1px solid rgb(155, 155, 155);
  color: rgb(71, 71, 71);
  background-color:rgb(214, 214, 214);
  transition: background-color 0.7s;
}

button.number:hover {
  background-color: rgb(230, 230, 230);
  transition: background-color 0.3s;
}

button.number:active {
  background-color: rgb(245, 245, 245);
  transition: background-color 0.1s;
}

#operators-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: 2px 0px 5px 0px;
}

button.operator {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
}

button.operator:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.operator:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

button {
  border-radius: 4px;
}

.decimal {
  flex: 2.8;
}

.equals {
  flex: 7.01;
}

.positive-negative {
  flex: 2.5;
}

button.number.positive-negative {
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
  font-size: 30px;
  padding: 10px;
}

button.number.positive-negative:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.number.positive-negative:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}

button.number.equals {
  background-color: rgb(200, 209, 216);
  transition: background-color 0.7s;
}

button.number.equals:hover {
  background-color: rgb(215, 225, 233);
  transition: background-color 0.3s;
}

button.number.equals:active {
  background-color: rgb(225, 235, 243);
  transition: background-color 0.1s;
}